<div class="album_content_top">
	<div id="albumLeftMenu" class="album_left_menu">
			<div class="toolbox">
				<div class="toolbox_title">基础调整</div>
				<ul class="toolbox_content">
					<li class="toolbox_item" id="gray_level">灰度</li>
					<li class="toolbox_item" id="brightness_level">亮度</li>
					<li class="toolbox_item" id="sharpness_level">锐度/清晰度</li>
					<li class="toolbox_item" id="contrast_level">对比度</li>
					<li class="toolbox_item" id="saturation_level">饱和度</li>
					<li class="toolbox_item">模糊度</li>
				</ul>
			</div>
	
			<div class="toolbox">
				<div class="toolbox_title">特效处理</div>
				<ul class="toolbox_content">
					<li class="toolbox_item">浮雕</li>
					<li class="toolbox_item">侵蚀</li>
					<li class="toolbox_item">膨胀</li>
					<li class="toolbox_item">反色</li>
					<li class="toolbox_item">反锯齿</li>
					<li class="toolbox_item">字符码</li>
				</ul>
			</div>
	
			<div class="toolbox">
				<div class="toolbox_title">裁剪</div>
				<ul class="toolbox_content">
					<li class="toolbox_item">自定义宽高</li>
					<li class="toolbox_item">等比例宽高</li>
				</ul>
			</div>

			<div class="toolbox">
				<div class="toolbox_title">颜色调整</div>
				<ul class="toolbox_content">
					<li class="toolbox_item">色温</li>
					<li class="toolbox_item">色调</li>
				</ul>
			</div>
	
			<div class="toolbox">
				<div class="toolbox_title">色阶调整</div>
				<ul class="toolbox_content">
					<li class="toolbox_item">曝光</li>
					<li class="toolbox_item">高光</li>
					<li class="toolbox_item">阴影</li>
				</ul>
			</div>
	
			<div class="toolbox">
				<div class="toolbox_title">尺寸</div>
				<ul class="toolbox_content">
					<li class="toolbox_item">自定义长宽</li>
					<li class="toolbox_item">比例缩放</li>
				</ul>
			</div>
	
			
		</div>
	</div>
	<div class="album_content_wrapper">
		<div class="imgs" id="image_wrapper">
			<img src="/image/8c45fca0-cabf-11e6-8d25-d1933103eda1.png" id="source_image">
			<input type="range">

		</div>
	</div>
	<div class="album_right_snap">
		
	</div>
</div>
	
	


	<!-- <div id="svgContainer"> 
		<div id="sourceDiv"> <img id="source" src="/image/8c45fca0-cabf-11e6-8d25-d1933103eda1.png" /> </div> 
		<div id="targetDiv"> <canvas id="target"></canvas> </div> 
	</div> 
 	<div id="btn-group"> 
		<button type="button" id="invert-button">反色</button> 
		<button type="button" id="adjust-button">灰色调</button> 
		<button type="button" id="blur-button">模糊</button> 
		<button type="button" id="relief-button">浮雕</button> 
		<button type="button" id="diaoke-button">雕刻</button> 
		<button type="button" id="mirror-button">镜像</button> 
	</div> -->
<div class="album_content-gallery"></div>